### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#calculate total number of Unique schools using merged list
total_number_schools = len(school_data_complete['school_name'].unique())
total_number_schools

15

In [3]:
#total number of students
total_students = school_data_complete['student_name'].count()
total_students

39170

In [4]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [5]:
#avg.math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [6]:
#avg reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [7]:
# the overall passing rate
overall_passing_rate = (average_math_score + average_reading_score)/2
overall_passing_rate

80.43160582078121

In [8]:
# percentage of students with a passing math score (70 or greater)
passing_math_score = (school_data_complete[school_data_complete['math_score']>=70]['student_name'].count()/total_students)*100
passing_math_score

74.9808526933878

In [9]:
# percentage of students with a passing reading score (70 or greater)
passing_reading_score = (school_data_complete[school_data_complete['reading_score']>=70]['student_name'].count()/total_students)*100
passing_reading_score

85.80546336482001

In [10]:
overall_passing_score = school_data_complete[(school_data_complete ["math_score"]>=70) & (school_data_complete ["reading_score"]>=70)].count
overall_passing_score

<bound method DataFrame.count of        Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[25528 rows x 11 columns]>

In [11]:
District_Summary = pd.DataFrame({
    "Total Schools" : [total_number_schools],
     "Total Students" : [total_students],
     "Total Budget" : [total_budget],
     "Average Math Score" : [average_math_score],
     "Average Reading Score" : [average_reading_score],
     "% Passing Math" : [passing_math_score],
     "% Passing Reading" : [passing_reading_score],
     })

District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)
District_Summary["Total Students"] = District_Summary["Total Students"].map("{:,}".format)
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463

In [13]:
# end of district summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
# review main data again
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
# creating new index for grouping schools
school_name = school_data_complete.set_index("school_name")
school_name.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [15]:
# creating new variable for type
school_type = school_data_complete.set_index ("type")
school_type

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,size,budget
type,,,,,,,,,,
District,0,Paul Bradley,M,9th,Huang High School,66,79,0,2917,1910635
District,1,Victor Smith,M,12th,Huang High School,94,61,0,2917,1910635
District,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,2917,1910635
District,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,2917,1910635
District,4,Bonnie Ray,F,9th,Huang High School,97,84,0,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Charter,39165,Donna Howard,F,12th,Thomas High School,99,90,14,1635,1043130
Charter,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,1635,1043130
Charter,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,1635,1043130
Charter,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,1635,1043130
Charter,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,1635,1043130

In [16]:
# using groupby school name
grouped_school_name = school_name.groupby(["school_name", "Student ID"])
grouped_school_name.count()

                               student_name  gender  grade  reading_score  \
school_name        Student ID
Bailey High School 17871                  1       1      1              1
                   17872                  1       1      1              1
                   17873                  1       1      1              1
                   17874                  1       1      1              1
                   17875                  1       1      1              1
...                                     ...     ...    ...            ...
Wright High School 26031                  1       1      1              1
                   26032                  1       1      1              1
                   26033                  1       1      1              1
                   26034                  1       1      1              1
                   26035                  1       1      1              1

                               math_score  School ID  type  size  budget
school_name        Student ID
Bailey High School 17871                1          1     1     1       1
                   17872                1          1     1     1       1
                   17873                1          1     1     1       1
                   17874                1          1     1     1       1
                   17875                1          1     1     1       1
...                                   ...        ...   ...   ...     ...
Wright High School 26031                1          1     1     1       1
                   26032                1          1     1     1       1
                   26033                1          1     1     1       1
                   26034                1          1     1     1       1
                   26035                1          1     1     1       1

[39170 rows x 9 columns]

In [17]:
# groupby total number of students
grouped_student_number = school_data_complete.groupby("school_name")["School ID"].count()
grouped_student_number

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School ID, dtype: int64

In [18]:
# using groupby for school budget
grouped_school_budget = school_data_complete.groupby("school_name")["budget"].sum() / school_data_complete.groupby("school_name")["School ID"].count()
grouped_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [19]:
# using groupby for student budget by school 
grouped_student_budget =  grouped_school_budget/ school_data_complete.groupby("school_name")["School ID"].count()
grouped_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
# using groupby Average Math Score
grouped_math_score = school_data_complete.groupby("school_name")['math_score'].mean()
grouped_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [21]:
# using groupby Average Reading Score
grouped_reading_score = school_data_complete.groupby("school_name")['reading_score'].mean()
grouped_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [22]:
# groupby %math passign score /school
math_passing_by_school = school_data_complete [(school_data_complete["math_score"] >= 70)]
math_passing_by_school = math_passing_by_school.groupby(["school_name"]).count()["Student ID"]
math_passing_by_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [23]:
# groupby $reading passign score /school
reading_passing_by_school = school_data_complete[(school_data_complete["reading_score"] >= 70)]
reading_passing_by_school = reading_passing_by_school.groupby(["school_name"]).count()["Student ID"]
reading_passing_by_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [24]:
# groupby Overall Passing (The percentage of students that passed math and reading.)
overall_passing_by_school = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
overall_passing_by_school = overall_passing_by_school.groupby(["school_name"]).count()["Student ID"]
overall_passing_by_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [ ]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({
      "School Type": school_type,
      "Total Students": grouped_student_number,
      "Total School Budget" : grouped_school_budget,
      "Per Student Budget" : grouped_student_budget,
      "Average Math Score" : grouped_math_score,
      "Average Reading Score" : grouped_reading_score,
      "Passing Math" : math_passing_by_school,
      "Passing Reading" : reading_passing_by_school,
      "Overall Passing" : overall_passing_by_school,
}) 

school_summary_format = school_summary.copy()
school_summary_format["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary_format["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)
school_summary_format

# don't know what the error is :()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing_schools = school_data_complete.sort(["% Overall Passing"], ascending=False)
top_performing_schools

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_performing_school = school_summary.sort(["% Overall Passing"], ascending=True)
bottom_performing_school.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [25]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
#creating new dataframe for 9 10 11 12 from the school_data_complete & create 4 grades
nine_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleven_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelve_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

In [ ]:
#groupby the mean () of the mass score for every grade
nine_grade_scores = nine_grade.groupby(["school_name"]).mean()
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()
eleven_grade_scores = eleven_grade.groupby(["school_name"]).mean()
twelve_grade_scores = twelve_grade.groupby(["school_name"]).mean()

In [29]:
# Math scores by greade
nine_grade_scores = nine_grade_scores["math_score"]
tenth_grade_scores = tenth_grade_scores["math_score"]
eleven_grade_scores = eleven_grade_scores["math_score"]
twelve_grade_scores = twelve_grade_scores["math_score"]

NameError: name 'nine_grade_scores' is not defined

In [30]:
# Create Math Score by Grade DataFrame
math_score_by_grade = pd.DataFrame({
        "9th" : nine_grade_math_scores,
       "10th" : tenth_grade_math_scores,
       "11th" : eleven_grade_math_scores,
       "12th" : twelve_grade_math_scores
})
math_score_by_grade

NameError: name 'nine_grade_math_scores' is not defined

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#TBD on creating bins, school_summaty error.

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type